<script setup lang="ts">
defineOptions({
  name: 'App'
})
</script>

<template>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, sint facilis sapiente ex tenetur
  odio architecto ab natus hic, sequi temporibus labore corporis consequuntur optio ad iste? Libero,
  minus repellendus?
</template>
