<script setup lang="ts">
import { backend } from '@/services'
import AppButton from '@/components/AppButton.vue'
import AppCard from '@/components/AppCard.vue'
import AppForm, { type FormData } from '@/components/AppForm.vue'
import AppInput from '@/components/AppInput.vue'

defineOptions({
  name: 'FormSignup'
})

const auth = backend('signup', {
  onFetchError: (err) => {
    console.error(err.data.message)
    return err
  }
})

function handleSubmitCreate(data: FormData) {
  auth.post(data).json().execute()
}
</script>

<template>
  <AppCard title="Criar conta" width="24rem" shadow>
    <AppForm @submit="handleSubmitCreate">
      <AppInput name="name" label="Nome" />
      <AppInput name="username" label="Usuário" />
      <AppInput name="email" label="Email" type="email" />
      <AppInput name="password" label="Senha" type="password" />
      <AppButton> Criar conta </AppButton>
    </AppForm>
    <RouterLink to="/login" class="login-link"> Já tem uma conta? </RouterLink>
  </AppCard>
</template>

<style scoped lang="sass">
.login-link
    display: block
    margin-top: $s-4
    text-align: center
</style>
