<script setup lang="ts">
import { backend } from '@/services'
import { useUserStore } from '@/stores/user'
import { useRouter } from 'vue-router'
import AppButton from '@/components/AppButton.vue'
import AppCard from '@/components/AppCard.vue'
import AppForm, { type FormData } from '@/components/AppForm.vue'
import AppInput from '@/components/AppInput.vue'

defineOptions({
  name: 'FormLogin'
})

const userStorage = useUserStore()
const router = useRouter()
const auth = backend<{ user: { username: string; email: string } }>('login', {
  onFetchError: (err) => {
    console.error(err.data.message)
    return err
  }
})

// Passar isso para o storage
// https://coursehunters.online/t/vuemastery-token-based-authentication/1487
function handleSubmitLogin(data: FormData) {
  auth
    .post(data)
    .json()
    .execute()
    .then(() => {
      const { username, email } = auth.data.value!.user
      localStorage.setItem('user', JSON.stringify(auth.data.value!.user))
      userStorage.setUser(username, email)
      router.push({ name: 'app' })
    })
}
</script>

<template>
  <AppCard title="Entrar" width="24rem" shadow>
    <AppForm @submit="handleSubmitLogin">
      <AppInput name="username" label="Usuário" />
      <AppInput name="password" label="Senha" type="password" />
      <AppButton> Entrar </AppButton>
    </AppForm>
    <RouterLink to="/" class="login-link"> Não tem uma conta? </RouterLink>
  </AppCard>
</template>

<style scoped lang="sass">
.login-link
    display: block
    margin-top: $s-4
    text-align: center
</style>
