<script setup lang="ts">
defineOptions({ name: 'app-button' })
</script>

<template>
  <button class="button">
    <slot />
  </button>
</template>

<style scoped lang="sass">
.button
  height: $s-11
  border: $border-0
  border-radius: $rounded-xl
  color: $sky-500
  background-color: $sky-100
  font-weight: $font-medium
  cursor: pointer
  @include font-size
  @include transition-default

  &:hover
    color: $sky-600
    background-color: $sky-200
</style>
