<script setup lang="ts">
defineOptions({ name: 'app-card' })
withDefaults(defineProps<{ title: string; shadow?: boolean; width?: string }>(), {
  shadow: false,
  width: '100%'
})
</script>

<template>
  <div class="card" :class="{ shadow }" :style="{ width }">
    <div class="header">
      <slot name="header">
        <strong>
          {{ title }}
        </strong>
      </slot>
    </div>
    <div class="body">
      <slot />
    </div>
  </div>
</template>

<style scoped lang="sass">
.card
    display: flex
    flex-direction: column
    height: $s-fit
    border: $border-2 solid $white
    border-radius: $rounded-3xl
    background-color: $white
    overflow: hidden

    .header
      padding: $s-6
      background-color: $white

      strong
        @include font-size('lg')
    .body
      padding: $s-6
      background-color: $gray-50

.card.shadow
    box-shadow: $shadow-lg
</style>
