<script setup lang="ts">
import { provide, reactive } from 'vue'

export type FormData = Record<string, string>

interface FormProps {
  onSubmit?(data: FormData): void
}

interface FormState {
  data: FormData
}

interface FormField {
  name: string
}

export interface FormProvider {
  register(field: FormField): void
  update(field: FormField, value: string): void
}

defineOptions({ name: 'app-form' })
defineProps<FormProps>()

const state = reactive<FormState>({
  data: {}
})

function register(field: FormField) {
  state.data[field.name] = ''
}

function update(field: FormField, value: string) {
  state.data[field.name] = value
}

provide<FormProvider>('form', { register, update })
</script>

<template>
  <form class="form" @submit.prevent="() => onSubmit?.(state.data)">
    <slot />
  </form>
</template>

<style scoped lang="sass">
.form
  display: flex
  flex-direction: column
  gap: $s-4
</style>
