<script setup lang="ts">
import { inject, onMounted } from 'vue'
import type { FormProvider } from './AppForm.vue'

type InputType =
  | 'color'
  | 'date'
  | 'datetime-local'
  | 'email'
  | 'file'
  | 'hidden'
  | 'image'
  | 'month'
  | 'number'
  | 'password'
  | 'search'
  | 'tel'
  | 'text'
  | 'time'
  | 'url'
  | 'week'

defineOptions({ name: 'app-input' })
const props = withDefaults(defineProps<{ name: string; label: string; type?: InputType }>(), {
  type: 'text'
})
const formInjection = inject<FormProvider>('form')

if (!formInjection) {
  throw new Error('AppInput must be used inside AppForm')
}

const { register, update } = formInjection

onMounted(() => {
  register({
    name: props.name
  })
})
</script>

<template>
  <div class="input">
    <label>
      <span>{{ label }}</span>
      <div class="box">
        <input
          :name="name"
          :type="type"
          @input="(e) => update({ name }, (e.target as HTMLInputElement).value)"
        />
      </div>
    </label>
  </div>
</template>

<style scoped lang="sass">
.input
  display: flex
  width: $s-full

  label
    flex: 1
    flex-direction: column
    gap: $s-1
    color: $gray-500
    @include font-size('sm')

  .box
    display: flex
    height: $s-11
    padding: 0 $s-3
    border: $border solid $gray-300
    border-radius: $rounded-xl
    background-color: $white
    @include transition-default

    &:focus-within
      @include ring('2', '0', $sky-500)

    input
      flex: 1
      border: $border-0
      background-color: $transparent
      @include font-size
</style>
