<script setup lang="ts">
defineOptions({
  name: 'HomeView'
})
</script>

<template>
  <div class="signup">
    <div class=""></div>
    <div class="right">
      <RouterView />
    </div>
  </div>
</template>

<style scoped lang="sass">
.signup
  display: flex
  width: $s-full
  height: $s-screen-h
  background: $gray-100

  > div
    width: $s-1__2

  .right
    display: flex
    justify-content: center
    align-items: center
</style>
