$delay-0: 0s
$delay-75: 75ms
$delay-100: 100ms
$delay-150: 150ms
$delay-200: 200ms
$delay-300: 300ms
$delay-500: 500ms
$delay-700: 700ms
$delay-1000: 1000ms
$duration: 150ms
$duration-0: 0s
$duration-75: 75ms
$duration-100: 100ms
$duration-150: 150ms
$duration-200: 200ms
$duration-300: 300ms
$duration-500: 500ms
$duration-700: 700ms
$duration-1000: 1000ms
$trasition-none: none
$trasition-all: all
$trasition: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter
$trasition-colors: color, background-color, border-color, text-decoration-color, fill, stroke
$trasition-opacity: opacity
$trasition-shadow: box-shadow
$trasition-transform: transform
$timing: cubic-bezier(0.4, 0, 0.2, 1)
$timing-linear: linear
$timing-in: cubic-bezier(0.4, 0, 1, 1)
$timing-out: cubic-bezier(0, 0, 0.2, 1)
$timing-in-out: cubic-bezier(0.4, 0, 0.2, 1)

@mixin transition-default()
  transition-property: $trasition
  transition-timing-function: $timing
  transition-duration: $duration