*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline-width: 0

body
  color: $gray-800
  background-color: $gray-100
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

b,
strong
  font-weight: $font-semibold

label
  display: inline-flex

input,
textarea,
select,
button
  color: $gray-800

a
  color: $blue-600
  text-decoration: none
  @include transition-default

  &:hover
    color: $blue-800